@using Order.Client.Components.Misc

@* Read more about authentication/authorozation in blazor here: *@
@* https://docs.microsoft.com/en-us/aspnet/core/blazor/security/?view=aspnetcore-5.0#authorization *@
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData">
                <NotAuthorized>
                    @if (!context.User.Identity.IsAuthenticated)
                        {
                    <Redirect Route="/" />
                    }
                        else
                        {
                    <p>Ouups! Vous n'êtes pas autorisé à accéder à cette ressource :(</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView>
                <p>Ouups! Il n'y a rien à cette adresse :(</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
