@namespace Order.Client.Components

<a @attributes=@AdditionalAttributes class=@CssClass href=@NavigateTo>@Label</a>

@code{
    [Parameter]
    public string NavigateTo { get; set; }

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string CssClass { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, Object> AdditionalAttributes { get; set; }
}