@page "/DishDetails/{Id:int}"
@page "/DishDetails/{search}/{Id:int}"

@using Order.Client.Layouts
@using Order.Client.Constants
@using Order.Client.Components
@using Order.Shared.Security.Policies
@using Microsoft.AspNetCore.Authorization

@namespace Order.Client.Pages
@attribute [Authorize(Policy = IsGuest.Name)]

<LayoutSetter />

<div>

    <div class="picture" style=@pictureUrl></div>

    <Column CssClass="main" Justify=@JustifyContent.FLEX_START Align=@AlignItems.STRETCH>

        <Row Justify=@JustifyContent.SPACE_BETWEEN Align=@AlignItems.CENTER>
            <OTitle CssClass="dish-name" Text=@dish?.Name Size=1.8 />
            <Price CssClass="price" Value=@(dish?.Price ?? 0) />
        </Row>

        <Row CssClass="descrition" Justify=@JustifyContent.FLEX_START Align=@AlignItems.CENTER>
            @dish?.Description
        </Row>

        <Group CssClass="blank" />

        <Row Justify=@JustifyContent.FLEX_START Align=@AlignItems.CENTER>
            <IconData CssClass="chef-data" IconPath="icons/chef-hat.png" Data=@dish?.ChefFullName />
            <IconData CssClass="chef-data" IconPath="icons/position.png" Data=@dish?.ChefCity />
        </Row>

        <Group CssClass="blank" />

        <Quantity @bind-Value=@quantity />

        <Group CssClass="blank" />

        <EditForm Model=new()>
            @if (dish?.Options is not null && dish.Options.Any())
            {
                <Selector Name=@M.Options @bind-Unfolded=@OptionsUnfolded>
                    @foreach (var option in dish?.Options ?? new())
                    {
                        <SelectorOption @key=@option.Id T=int Id=@option.Id Selected=@SelectedOptions.Contains(option.Id)
                    OnSelect=@OnSelectedOption OnUnselect=@OnUnselectedOption>
                            @option.Name
                        </SelectorOption>
                    }
                </Selector>
            }

            @if (dish?.Extras is not null && dish.Extras.Any())
            {
                <Selector Name=@M.Extras @bind-Unfolded=@ExtrasUnfolded>
                    @foreach (var extra in dish?.Extras ?? new())
                    {
                        <SelectorOption @key=@extra.Id T=int Id=@extra.Id Selected=@SelectedExtras.Contains(extra.Id)
                    OnSelect=@OnSelectedExtra OnUnselect=@OnUnselectedExtra>
                            <Row Justify=@JustifyContent.SPACE_BETWEEN Align=@AlignItems.CENTER>
                                @extra.Name
                                <Price Value=@extra.Price />
                            </Row>
                        </SelectorOption>
                    }
                </Selector>
            }
        </EditForm>

    </Column>

    <BottomButton Label=@M.AddToCart />

</div>
