::deep .address-form {
  width: 90%;
  margin: auto;
  text-align: center;
}

::deep .address-form > * {
  margin-bottom: 1em;
}

::deep .separator {
  margin-top: 2em;
  margin-bottom: 0%;
}

::deep .button {
  width: 40%;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
