::deep input {
  padding: 0.5em 1rem;
  border: 0.1em solid lightgrey;
  border-radius: 3em;
  outline-style: none;
  height: 100%;
  width: 100%;
}

::deep input:focus,
::deep input:hover {
  box-shadow: 0 0 0.2em #52affa;
}

::deep input.invalid {
  box-shadow: 0 0 0.2em red;
}
