@using Order.Client.Constants

@namespace Order.Client.Components

<button @attributes=@AdditionalAttributes class="@CSSCLasses.ComponentContainer @CssClass" type="button">
    <span class="label">@Label</span>
</button>
