@using Order.Client.Constants

@namespace Order.Client.Components

<div @attributes=@AdditionalAttributes class=@CssClass>
    <Row CssClass="group" Justify=@JustifyContent.FLEX_START Align=@AlignItems.CENTER>
        <img class="icon" src=@IconPath />
        <p class="data">@Data</p>
    </Row>
</div>
