@namespace Order.Client.Components

<div @attributes=@AdditionalAttributes class="ComponentContainer @CssClass">

    <fieldset class="featured-header" @attributes=@AdditionalAttributes>

        <legend>@Text</legend>

    </fieldset>

</div>
