@page "/ResetPassword/{UserEmail}/{*ResetPasswordToken}"

@namespace Order.Client.Pages

<EditForm Model=@PasswordReset OnValidSubmit=@HandleFormSubmition>

    <ObjectGraphDataAnnotationsValidator />

    <div class="form-container">

        <div>
            <OInputText HideData=@isPasswordHidden RightIcon=@passwordRightIcon OnRightIconClick=@TogglePasswordHide
                CssClass="form-input first-input" PlaceHolder=@M.Password @bind-Value=@PasswordReset.Password />
            <ValidationMessage For=@( () => PasswordReset.Password) />
        </div>

        <div>
            <OInputText HideData=@isConfirmPasswordHidden RightIcon=@confirmPasswordRightIcon
                OnRightIconClick=@ToggleConfirmPasswordHide CssClass="form-input" PlaceHolder=@M.ConfirmPassword
                @bind-Value=@PasswordReset.ConfirmPassword />
            <ValidationMessage For=@( () => PasswordReset.ConfirmPassword ) />
        </div>

        <Button CssClass="form-submit" Type="submit" Label=@M.Reset />

        <div class="redirection">
            @M.ComeBackTo <a href="SignIn/" class="redirect">@M.SignInPage</a>
        </div>

    </div>

</EditForm>
