@namespace Order.Client.Components.Misc

<div class="notification-modal-container">
    <Modal @ref=@modalRef CssClass="notification-modal" @onclick=@(async () => await CloseAsync())>
        <img src="@getIcon" class="notif-icon" />
        <div class="content">
            <p>@content</p>
        </div>
    </Modal>
</div>

@code{
    private bool isError { get; set; }
    private string content { get; set; }
    private Modal modalRef { get; set; }
    private string getIcon { get => isError ? "icons/ko.png" : "icons/ok.png"; }

    public Func<Task> OnCloseAsync { get; set; }

    public void Show(string content)
    {
        isError = false;
        this.content = content;
        modalRef.Show();
    }

    public void ShowError(string content)
    {
        isError = true;
        this.content = content;
        modalRef.Show();
    }

    public async Task CloseAsync()
    {
        content = string.Empty;
        if (OnCloseAsync is not null)
        {
            await OnCloseAsync();
        }
        await modalRef.Close();
    }
}
