.component-container {
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: transparent;
  height: 4em;
  width: 4em;
}

.component-container:active {
  box-shadow: 0 0 0.3em black;
}
