@page "/ChefDetails/{Id:int}"
@page "/ChefDetails/{search}/{Id:int}"

@using Order.Client.Components
@using Order.Client.Layouts
@using Order.Client.Constants

@namespace Order.Client.Pages

<LayoutSetter />

<div>
    <Spinner @ref=@spinner>
        <div class="picture" style=@pictureUrl></div>
        <Column CssClass="main" Justify=@JustifyContent.FLEX_START Align=@AlignItems.STRETCH>
            <Row Justify=@JustifyContent.SPACE_BETWEEN Align=@AlignItems.CENTER ExpandHorizontally=@true>
                <OTitle CssClass="name" Text=@chef?.ChefFullName Size=1.5 />
                <IconData CssClass="position" IconPath="icons/position.png" Data=@chef?.City />
            </Row>
            <Row CssClass="bio" Justify=@JustifyContent.FLEX_START Align=@AlignItems.CENTER>
                @chef?.Bio
            </Row>
            @foreach (var section in chef?.Card?.Sections ?? new())
            {
                <Group CssClass="blank" />
                <OTitle Text=@section.Name Size=1.5 />
                @foreach (var dishOrMenu in section.Items ?? new())
                {
                    <DishOrMenuListItem DishOrMenu=@dishOrMenu @onclick=@((args) => NavigateToDishOrMenuDetails(dishOrMenu.Id,
                dishOrMenu.IsMenu)) />
                }
            }
        </Column>
    </Spinner>
</div>
