@page "/NotFound"

@namespace Order.Client.Pages

<div class="page-container">
    <img src="/icons/magnifier_not_found.png" />
    <p>désolé, il n'y a rien à cette adresse.</p>
    <br>
    <a href="/SignIn">Retrour à la page d'acceuil</a>
</div>
