@namespace Order.Client.Components

<button @attributes=@AdditionalAttributes class="@ComponentContainer @dangerButton @neutralButton @CssClass" type=@Type>
    <span class="label">@Label</span>
</button>
