@using Order.Client.Components
@using Order.Client.Constants
@layout MainLayout

@namespace Order.Client.Layouts
@inherits LayoutComponentBase

<div>
    <CascadingValue Value=@this IsFixed=@true>
        @Body
    </CascadingValue>

    <Row CssClass="bottom" Justify=@JustifyContent.SPACE_AROUND ExpandHorizontally=@true>
        <NavButton Label=@M.Search Icon="icons/search-sprite.png" Selected=@SearchSelected ImagesInSprite=2
            Translate=@translateSearchIcon @onclick=@(() => SearchSelected = true) />
        <NavButton Label=@M.IWant Icon="icons/iwant-sprite.png" Selected=@IWantSelected ImagesInSprite=2
            Translate=@translateIwantIcon @onclick=@(() => IWantSelected = true) />
        <NavButton Label=@M.Orders Icon="icons/orders-sprite.png" ImagesInSprite=2 Translate=@translateOrdersIcon
            Selected=@OrdersSelected @onclick=@(() => OrdersSelected = true) />
    </Row>
</div>
