@using Order.Client.Components.Layout
@using Order.Client.Constants

@namespace Order.Client.Layouts
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div>
    @Body
    <Row>
        <NavButton CssClass="nav-button" Label=@M.Search UnClickedIcon="icons/search-unclicked.png"
            ClickedIcon="icons/search-clicked.png" OnClick=@HandleSearchSelect @ref=@searchButton />
        <NavButton CssClass="nav-button" Label=@M.IWant UnClickedIcon="icons/iwant-unclicked.png"
            ClickedIcon="icons/iwant-clicked.png" OnClick=@HandleIWantSelect @ref=@IWantButton />
        <NavButton CssClass="nav-button" Label=@M.Orders UnClickedIcon="icons/orders-unclicked.png"
            ClickedIcon="icons/orders-clicked.png" OnClick=@HandleOrdersClick @ref=@OrdersButton />
    </Row>
</div>

@code{
    private NavButton searchButton { get; set; }
    private NavButton IWantButton { get; set; }
    private NavButton OrdersButton { get; set; }

    public void HandleSearchSelect(MouseEventArgs args)
    {
        if (IWantButton.Selected) IWantButton.ToggleSelected();
        if (OrdersButton.Selected) OrdersButton.ToggleSelected();
        if (searchButton.Selected) return;
        searchButton.ToggleSelected();
        NavigationManager.NavigateTo("search/");
    }

    public void HandleIWantSelect(MouseEventArgs args)
    {
        if (searchButton.Selected) searchButton.ToggleSelected();
        if (OrdersButton.Selected) OrdersButton.ToggleSelected();
        if (IWantButton.Selected) return;
        IWantButton.ToggleSelected();
        NavigationManager.NavigateTo("iwant/");
    }

    public void HandleOrdersClick(MouseEventArgs args)
    {
        if (searchButton.Selected) searchButton.ToggleSelected();
        if (IWantButton.Selected) IWantButton.ToggleSelected();
        if (OrdersButton.Selected) return;
        OrdersButton.ToggleSelected();
        NavigationManager.NavigateTo("orders/");
    }
}
