@page "/Unauthorized"

@namespace Order.Client.Pages

<div class="page-container">
    <img src="/icons/bodyguard_unauthorized_stop.png" />
    <p>Désolé, il semble que vous n'ayez pas l'autorisation requise pour accéder à cette page.</p>
    <br>
    <a href="/">Retrour à la page d'acceuil</a>
</div>
