@using Order.Client.Components.Layout
@using Order.Client.Constants

@namespace Order.Client.Components.Dish

<div class="@CSSCLasses.ComponentContainer @CssClass">
    <Row AdditionalAttributes=@AdditionalAttributes ExpandHorizontally=@true>
        <div class="picture" style=@pictureUrl></div>
        <Column CssClass="data-column" Justify=@JustifyContent.SPACE_BETWEEN Align=@AlignItems.FLEX_START>
            <OTitle CssClass="element first" Text=@DishOrMenu.Name Size=1.2 />
            <p class="element second">@DishOrMenu.Description</p>
            <IconData IconPath="icons/chef-hat.png" Data=@DishOrMenu.ChefFullName />
            <Row ExpandHorizontally=@true Justify=@JustifyContent.SPACE_BETWEEN
                Align=@AlignItems.CENTER>
                <IconData CssClass="city" IconPath="icons/position.png" Data=@DishOrMenu.ChefCity/>
                <Price Value=@DishOrMenu.Price />
            </Row>
        </Column>
    </Row>
</div>
