@namespace Order.Client.Components

<div @attributes=@AdditionalAttributes class="row @CssClass"
    style="@justifyStyle @alignStyle @wrapStyle @expandHorizStyle @expandVertStyle">
    @ChildContent
</div>
