.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 95vh;
  width: 90vw;
  margin: auto;
  overflow: visible;
}

::deep .form-input {
  height: 2em;
  margin-top: 0.5em;
}

::deep .first-input {
  margin-top: 25vh;
}

::deep .form-submit {
  height: 2em;
  font-size: 1.1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.redirection {
  align-self: center;
  margin-top: 30vh;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: grey;
}

.redirect {
  font-weight: bold;
  color: #52affa;
}

.redirect:active {
  text-shadow: 0 0 0.1em #1b6ec2;
}

::deep .error-modal {
  text-align: center;
  position: fixed;
  width: 90vw;
  top: 3vh;
  left: 5vw;
}
