@using Order.Client.Constants

@namespace Order.Client.Components

<Column AdditionalAttributes=@AdditionalAttributes CssClass=@CssClass Justify=@JustifyContent.CENTER
    Align=@AlignItems.CENTER>
    <p class="text">@Text</p>
    <img class="arrow" src="icons/arrow.gif" />
</Column>
