@using Order.Client.Constants
@using Order.Client.Components

@namespace Order.Client.Layouts

@inherits LayoutComponentBase

<div>
    <Row CssClass=@bluredPage Justify=@justifyTopContent>

        @if (!string.IsNullOrWhiteSpace(PreviousPage))
        {
            <NavButton ImagesInSprite=1 Icon="icons/previous.png" @onclick=@(() =>
            NavigationManager.NavigateTo(PreviousPage)) />
        }

        @Top

        <NavButton Justify=@JustifyContent.CENTER DisplayHorizontal=@true Label=@NbElements.ToString()
            Icon="icons/cart-sprite.png" Selected=@CartSelected ImagesInSprite=2 Translate=@translateCartIcon
            @onclick=@(() => CartSelected = true) />

    </Row>
</div>

<CascadingValue Value=@this IsFixed=@true>
    @Body
</CascadingValue>
