::deep .cart-button {
  padding: 2vw;
  padding-bottom: 0%;
}

::deep .address-bar {
  width: 70vw;
}

::deep div.address-bar input {
  border: none;
  border-radius: 0%;
  border-bottom: 0.1em solid lightgrey;
}
