::deep .cart-button {
  padding: 2vw;
}

::deep .address-bar {
  width: 70vw;
}

::deep div.address-bar input {
  border: none;
  padding: 0.5em;
}

::deep .address-container {
  border: 0.05em solid lightgrey;
  border-radius: 0.5em;
}

::deep .address-icon {
  height: 1.2em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  border-right: 0.05em solid lightgray;
}
