@namespace Order.Client.Components

<button @attributes=@AdditionalAttributes style="background-image:url(@SocialMediaPath); 
            background-position: @(Translate)% 0%;
            background-size: @(ImagesInSprite * 100)% 100%;" class="@ComponentContainer @CssClass" type=@Type>
</button>
