@using Order.Client.Constants

@namespace Order.Client.Components

<div @attributes=@AdditionalAttributes class="@CSSCLasses.ComponentContainer @CssClass">
    <InputCheckbox class="check-box" @bind-Value=@Value />
</div>
