.button-image {
  background-color: transparent;
  border: none;
  outline: none;
  box-sizing: border-box;
  margin: 0.3em;
  padding: 0;
  height: 2em;
  width: 2em;
}

.label {
  font-weight: bold;
  margin: 0%;
  padding: 0%;
}
