/*  
  A Component with only one element doesn't need a container.
  Every other componet with more than on element has a <div>
  root whose main purpose is to allow the component to be 
  completely resizable/customizable by it's consumer. 
  For this to work, we have to follow these convetions:
  - The <div> wrapping the component should be of class
   "component-container".
  - avoid using the class "component-container" in any other
    situation except the one above mentioned.
  - if there is a need to add a css class to a component,
    do it using the "CssClass" parameter. (to avoid overriding
    the "component-container" class)
*/

.validation-message {
  color: red;
  font-size: 0.8rem;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  flex: 0 0 auto;
}

#app {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#spinner {
  height: 15vw;
  width: 15vw;
}

#spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.page-blured {
  filter: blur(10px);
}

.page-disabled {
  pointer-events: none;
  opacity: 0.4;
}

.notification-modal {
  background-color: greenyellow;
  border: none;
  border-radius: 1em;
  font-size: 1.1em;
  text-align: center;
  position: fixed;
  width: 90vw;
  top: 3vh;
  left: 5vw;
}

.error-modal {
  background-color: orangered;
}
