/*  
  A Component with only one element doesn't need a container.
  Every other componet with more than on element has a <div>
  root whose main purpose is to allow the component to be 
  completely resizable/customizable by it's consumer. 
  For this to work, we have to follow these convetions:
  - The <div> wrapping the component should be of class
   "component-container".
  - avoid using the class "component-container" in any other
    situation except the one above mentioned.
  - if there is a need to add a css class to a component,
    do it using the "CssClass" parameter. (to avoid overriding
    the "component-container" class)
*/

.validation-message {
  color: orangered;
  font-size: 0.8rem;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  flex: 0 0 auto;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
}

#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#init-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#init {
  width: 30vmin;
}

#init-spinner {
  width: 20vmin;
}

.page-blured {
  filter: blur(3px);
  pointer-events: none;
}
