@page "/SignUp"

@using Order.Client.Components
@using Order.Client.Constants

@namespace Order.Client.Pages

<div>
    <EditForm class="form-container" Model=SignUpData OnValidSubmit=@HandleFormSubmition>
        <ObjectGraphDataAnnotationsValidator />
        <Column CssClass="form-column" Align=@AlignItems.STRETCH ExpandVertically=@true>
            <OTitle Text=@M.SignUp Size=1.5 />

            <Group CssClass="blank" />

            <Group CssClass="validated">
                <OInputText PlaceHolder=@M.LastName @bind-Value=@SignUpData.LastName />
                <ValidationMessage For=@( () => SignUpData.LastName ) />
            </Group>

            <Group CssClass="blank" />

            <Group CssClass="validated">
                <OInputText PlaceHolder=@M.FirstName @bind-Value=@SignUpData.FirstName />
                <ValidationMessage For=@( () => SignUpData.FirstName ) />
            </Group>

            <Group CssClass="blank" />

            <Group CssClass="validated">
                <OInputText PlaceHolder=@M.Email @bind-Value=@SignUpData.Email />
                <ValidationMessage For=@( () => SignUpData.Email ) />
            </Group>

            <Group CssClass="blank" />

            <Group CssClass="validated">
                <OInputText HideData=@isPasswordHidden RightIcon=@passwordRightIcon OnRightIconClick=@TogglePasswordHide
                    PlaceHolder=@M.Password @bind-Value=@SignUpData.Password />
                <ValidationMessage For=@( () => SignUpData.Password) />
            </Group>

            <Group CssClass="blank" />

            <Group CssClass="validated">
                <OInputText HideData=@isConfirmPasswordHidden RightIcon=@confirmPasswordRightIcon
                    OnRightIconClick=@ToggleConfirmPasswordHide PlaceHolder=@M.ConfirmPassword
                    @bind-Value=@SignUpData.ConfirmPassword />
                <ValidationMessage For=@( () => SignUpData.ConfirmPassword ) />
            </Group>

            <Group CssClass="blank" />

            <Button Type="submit" Label=@M.Register />

            <Group CssClass="blank" />

            <Group>
                @M.AskForAccountExistance
                <LinkButton NavigateTo="SignIn/" Label=@M.SignInRedirect />
            </Group>

            <Group CssClass="blank" />

        </Column>
    </EditForm>
</div>
