::deep .categories {
  padding-bottom: 4em;
  padding-top: 2vw;
  padding-right: 1vw;
  padding-left: 1vw;
}

::deep .card {
  height: 47vw;
  width: 47vw;
  margin: 1vw;
}

.text {
  color: lightslategrey;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 4vw;
  margin-bottom: 4vw;
}

.search-bar {
  margin: 2vw;
  width: 75vw;
}

::deep .right-icon {
  top: 20%;
  height: 60%;
  padding-left: 0.5em;
}
