@page "/search"

@using Microsoft.AspNetCore.Authorization
@using Order.Shared.Security.Policies
@using Order.Client.Components.Layout
@using Order.Client.Components.Form
@using Order.Client.Constants

@namespace Order.Client.Pages
@attribute [Authorize(Policy = IsGuest.Name)]

<div class=@blured>
    <Column CssClass="search-column" Align=@AlignItems.STRETCH>

        <EditForm Model=@CurrentAddress>
            <OInputText CssClass="address-bar" Disable=@true PlaceHolder=@M.DeliveryAddress Value=@GetFullAddress() @onclick=@HandleAddressBarClick />
        </EditForm>

        <EditForm Model=@SearchValue>
            <OInputText PlaceHolder=@M.CategorySearchBar @bind-Value=@SearchValue.Search
                RightIcon="icons/searchbar-magnifier.png" />
        </EditForm>

        <p class="text">@M.TopCategories</p>

        <Row CssClass="categories" Wrap=@FlexWrap.WRAP Justify=@JustifyContent.SPACE_BETWEEN>
            @foreach (var category in Categories ?? new())
            {
                <CategoryCard Label=@category.Label Picture=@category.Picture />
            }
        </Row>
    </Column>
</div>

<AddressModal @ref=@AddressModal OnClose=@OnAddressModalClosed />
