@page "/search"

@using Microsoft.AspNetCore.Authorization
@using Order.Shared.Security.Policies
@using Order.Client.Components.Layout
@using Order.Client.Components.Form
@using Order.Client.Constants

@namespace Order.Client.Pages
@attribute [Authorize(Policy = IsGuest.Name)]

<div>
    <Column Align=@AlignItems.STRETCH>

        <div class="address-bar">
            <EditForm Model=@CurrentAddress>
                <ObjectGraphDataAnnotationsValidator />
                <OInputText Disable=@true PlaceHolder=@M.Address Value=@GetFullAddress() />
            </EditForm>
        </div>

        <div class="search-bar">
            <EditForm Model=@SearchValue>
                <ObjectGraphDataAnnotationsValidator />
                <OInputText PlaceHolder=@M.CategorySearchBar @bind-Value=@SearchValue.Search
                    RightIcon="icons/searchbar-magnifier.png" />
            </EditForm>
        </div>

        <p class="text">@M.TopCategories</p>

        <Row CssClass="categories" Wrap=@FlexWrap.WRAP Justify=@JustifyContent.FLEX_START>
            @foreach (var category in Categories ?? new())
            {
                <CategoryCard CssClass="card" Label=@category.Label Picture=@category.Picture />
            }
        </Row>
    </Column>
</div>
