.component-container {
  /* color: #fff; */
  background-color: #fed80b;
  border: none;
  border-radius: 3em;
  outline: none;

  box-sizing: border-box;
}

.component-container:active {
  box-shadow: 0 0 0.2em black;
}

.danger-button {
  background-color: #f4475b;
}
