.component-container {
  color: #fff;
  background-color: #52affa;
  border: none;
  border-radius: 3em;
  outline: none;

  box-sizing: border-box;
}

.component-container:active {
  box-shadow: 0 0 0.2em #3db8ff;
}

.danger-button {
  background-color: orangered;
}
