@namespace Order.Client.Components.Form

<button @attributes=@AdditionalAttributes class="component-container @CssClass" type=@Type>@Label</button>

@code{
    [Parameter]
    public string Type { get; set; } = "button";

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string CssClass { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, Object> AdditionalAttributes { get; set; }
}
