.component-container {
  color: #fff;
  background-color: #52affa;
  border: none;
  border-radius: 3em;
  outline: none;
  box-sizing: border-box;
  height: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.label {
  font-size: 1.2em;
}

.component-container:active {
  box-shadow: 0 0 0.2em black;
}

.danger-button {
  background-color: orangered;
}

.neutral-button {
  background-color: transparent;
  color: black;
  border: 0.1em solid #52affa;
}
