@using Order.Client.Constants

@namespace Order.Client.Components

<Row @attributes=@AdditionalAttributes class=@CssClass Justify=@JustifyContent.CENTER Align=@AlignItems.CENTER>
    <button class="quantity-button" type="button" @onclick=@OnIncrement><span class="quantity-change">+</span></button>
    <span class="quantity">@Value</span>
    <button class="quantity-button" type="button" @onclick=@OnDecrement><span class="quantity-change"
            style=@disableDecrement>‒</span></button>
</Row>
