@using Order.Client.Constants
@using Order.Client.Components.Layout

@namespace Order.Client.Components.Misc

@if (ShowModal)
{
    <div @attributes=@AdditionalAttributes class="@CSSCLasses.ComponentContainer @CssClass">
        <Column Align=@AlignItems.STRETCH>
            @ChildContent
        </Column>
    </div>
}

@code{
    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string CssClass { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, Object> AdditionalAttributes { get; set; }

    private bool ShowModal { get; set; }

    public void Show()
    {
        ShowModal = true;
        StateHasChanged();
    }

    public async Task Close()
    {
        ShowModal = false;
        if (OnClose.HasDelegate)
        {
            await OnClose.InvokeAsync();
        }
        StateHasChanged();
    }
}
