@namespace Order.Client.Components.Misc

@using Order.Client.Constants

@if (ShowModal)
{
    <div @attributes=@AdditionalAttributes class="@CSSCLasses.ComponentContainer @dangerModal @CssClass">
        @ChildContent
    </div>
}

@code{
    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string CssClass { get; set; }

    [Parameter]
    public bool Danger { get; set; }

    private string dangerModal { get => Danger ? "danger-modal" : string.Empty; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, Object> AdditionalAttributes { get; set; }

    public bool ShowModal { get; set; }

    public void Show()
    {
        ShowModal = true;
        StateHasChanged();
    }

    public async Task Close()
    {
        ShowModal = false;
        await OnClose.InvokeAsync();
        StateHasChanged();
    }
}
