@namespace Order.Client.Components

<div class="toggle">
    <input type="radio" name="sizeBy" value="left" id="left-radio" checked="checked" @onchange=@OnSelect />
    <label for="left-radio">@LeftLabel</label>
    <input type="radio" name="sizeBy" value="right" id="right-radio" @onchange=@OnSelect />
    <label for="right-radio">@RightLabel</label>
</div>
