.component-container {
  position: relative;
  width: 50%;
  padding-bottom: 50%;
}

.picture {
  position: absolute;
  height: 98%;
  width: 98%;
  margin: 1%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(60%);
}

.label {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50);
  color: white;
  width: 100%;
  font-size: 1.1em;
  font-weight: bold;
}
