@namespace Order.Client.Components

<div @attributes=@AdditionalAttributes class="@ComponentContainer @CssClass">
    <div class="picture" style=@pictureUrl></div>
    <div class="label">
        @Label
    </div>
</div>
