::deep input {
  padding: 0.5em 1em;
  border: 0.1em solid lightgrey;
  border-radius: 3em;
  outline-style: none;
  width: 100%;
  height: 2.5em;
}

::deep input:focus,
::deep input:hover {
  box-shadow: 0 0 0.2em #52affa;
}

::deep input.invalid {
  box-shadow: 0 0 0.2em red;
}

.component-container {
  position: relative;
}

.right-icon {
  position: absolute;
  right: 1em;
  height: 100%;
}
