@namespace Order.Client.Components.Form

<div @attributes=@AdditionalAttributes class="component-container @CssClass">

    <InputText 
        type=@ShouldHideValue()
        placeholder=@PlaceHolder
        Value=@Value
        @oninput=@HandleInputChange
        ValueExpression=@(() => Value) 
    />

    <img src=@GetIcon() hidden=@(!IsSensitiveInput) @onclick=@ToggleIsHiddenValue />

</div>
    