@page "/SignIn"
@page "/SignIn/{AccessToken}/{*RefreshToken}"

@using Order.Client.Components.Form
@using Order.Client.Components.Misc
@using Order.Client.Components.Layout
@using Order.Client.Constants
@using Order.Shared.Dto
@using Order.Shared.Constants.Users

@namespace Order.Client.Pages

@* ========================================== SignIn Form =============================================================
*@
<div class="@shouldBlureMainPage">

    <EditForm class="form-container" Model=@UserSignInData OnValidSubmit=@HandleSignInFormSubmition>
        <ObjectGraphDataAnnotationsValidator />

        <Column CssClass="form-column" Align=@AlignItems.STRETCH ExpandVertically=@true>

            <OTitle Text=@M.SignIn Size=1.5 />

            <Group CssClass="validated">
                <OInputText PlaceHolder=@M.Email @bind-Value=@UserSignInData.Email />
                <ValidationMessage For=@( () => UserSignInData.Email ) />
            </Group>

            <Group CssClass="validated">
                <OInputText HideData=@isPasswordHidden RightIcon=@rightIcon OnRightIconClick=@TogglePasswordHide
                    PlaceHolder=@M.Password @bind-Value=@UserSignInData.Password />
                <ValidationMessage For=@( () => UserSignInData.Password) />
            </Group>

            <Button Type="submit" Label=@M.Login />

            <LinkButton @onclick=@ResetPasswordModalShow Label=@M.ForgotPassword />

            <LineTextSeparator Text=@M.ContinueWith />

            <Row Justify=@JustifyContent.SPACE_AROUND>
                <SocialMediaButton SocialMediaPath=@SocialSpritePath ImagesInSprite=3 Translate=0 @onclick=@(() =>
                    CheckoutConsentScreen(new ValueWrapperDto<string>(ExternalIdentityProviders.FACEBOOK))) />
                <SocialMediaButton SocialMediaPath=@SocialSpritePath ImagesInSprite=3 Translate=50 @onclick=@(() =>
                    CheckoutConsentScreen(new ValueWrapperDto<string>(ExternalIdentityProviders.GOOGLE))) />
                <SocialMediaButton SocialMediaPath=@SocialSpritePath ImagesInSprite=3 Translate=100 @onclick=@(() =>
                    CheckoutConsentScreen(new ValueWrapperDto<string>(ExternalIdentityProviders.LINKEDIN))) />
            </Row>

            <Group>
                @M.AskForAccountAbsence
                <LinkButton NavigateTo="SignUp/" Label=@M.SignUpRedirect />
            </Group>

        </Column>
    </EditForm>
</div>

@* ========================================== Reset Password Form =====================================================
*@

<div>
    <EditForm Model=@RequestResetPassword OnValidSubmit=@HandleResetPasswordFormSubmit>
        <ObjectGraphDataAnnotationsValidator />
        <Modal CssClass=@shouldBlurePwResetModal @ref=@resetPasswordModal>
            <Group CssClass="reset-pw-input">
                <OInputText PlaceHolder=@M.Email @bind-Value=@RequestResetPassword.Email />
                <ValidationMessage For=@( () => RequestResetPassword.Email ) />
            </Group>
            <Row Justify=@JustifyContent.SPACE_AROUND CssClass="reset-pw-buttons">
                <Button Type="submit" Label=@M.Send />
                <Button Label=@M.Cancel @onclick=@HandleResetPasswordCanceled Danger=@true />
            </Row>
        </Modal>
    </EditForm>
</div>
