.component-container {
  margin: 0.5em;
}

.picture {
  height: 8em;
  width: 8em;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

::deep .data-column {
  width: calc((100%) - 8.5em);
  margin-left: 0.5em;
}

::deep .element,
::deep .group {
  margin: 0%;
  overflow: hidden;
  max-height: 1.4em;
}

.second {
  max-height: 2.9em;
}

.second-overridden {
  max-height: 4.1em;
}

::deep .city {
  max-width: 60%;
}
